# Default ignored files
/shelf/
/workspace.xml
# Compiled class files
*.class

# Bytecode
*.jar

# Compiled Java and Kotlin binaries
*.war
*.ear

# Temporary files
*.log
*.log.*
*.tmp

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven
target/

# Gradle
build/

# Dependency directories
bin/
lib/

# Logs
log/
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Package Files
*.war
*.ear
*.jar